@page "/exams"
@using DataTransferObjects.Tests
@using DataTransferObjects.Tests
@using Gamification.Student.UI.Services
@using Gamification.Student.UI.Services.Quiz
@inject IQuizService QuizService

<PageTitle>Exams</PageTitle>

<div class="page" id="sections">
    <h2>Quyidagi bo’limlardan birini tanlang:</h2>

    @if (tests == null)
    {
        <p>Testlar yuklanmoqda...</p>
    }
    else if (tests.Count == 0)
    {
        <p>Hozircha test mavjud emas.</p>
    }
    else{
        @foreach(var test in tests){
            <a class="card" href="quiz/@test.Id">
                <div>
                    <strong>@test.Title</strong>
                    <p>@test.Description</p>
                </div>
                <span>@test.Duration soat</span>
            </a>
        }
    }
</div>

<NavMenu />

@code{
    private List<TestViewModel> tests;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            tests = await QuizService.GetTestsAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine("Xatolik: " + ex.Message);
            tests = new();
        }
    }
}