body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #e0f7ff;
    color: #333;
    padding-bottom: 80px;
}

.page {
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.card {
    background: linear-gradient(to right, #4760FF, #0DCCFF);
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .card p {
        font-size: 12px;
        margin: 5px 0 0 0;
        opacity: 0.9;
    }

    .card span {
        font-weight: bold;
        font-size: 14px;
    }

.option {
    background-color: #a5ddff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

#ready p {
    text-align: center;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 10px;
}

#ready h3 {
    text-align: center;
    font-size: 18px;
}

.start-btn {
    display: block;
    margin: 30px auto;
    padding: 15px 40px;
    background: linear-gradient(to right, #4b6cb7, #182848);
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
