@page "/exams"

<PageTitle>Exams</PageTitle>

<!-- Test Bo'limlari -->
<div class="page" id="sections">
    <h2>Quyidagi bo’limlardan birini tanlang:</h2>
    <div class="card">
        <div>
            <strong>Present perfect</strong>
            <p>present perfect bo‘yicha takrorlash</p>
        </div>
        <span>30 ta test</span>
    </div>
    <div class="card">
        <div>
            <strong>To be</strong>
            <p>to be bo‘yicha takrorlash</p>
        </div>
        <span>25 ta test</span>
    </div>
    <div class="card">
        <div>
            <strong>Present continous</strong>
            <p>present perfect bo‘yicha takrorlash</p>
        </div>
        <span>20 ta test</span>
    </div>
    <div class="card">
        <div>
            <strong>Present perfect</strong>
            <p>present perfect bo‘yicha takrorlash</p>
        </div>
        <span>25 ta test</span>
    </div>
    <div class="card">
        <div>
            <strong>To be (takrorlash)</strong>
            <p>to be chuqurlashgan takrorlash</p>
        </div>
        <span>30 ta test</span>
    </div>
    <div class="card">
        <div>
            <strong>Past perfect</strong>
            <p>past perfect bo‘yicha takrorlash</p>
        </div>
        <span>30 ta test</span>
    </div>
</div>

<NavMenu />