@page "/"
@using Gamification.Student.UI.Models
@using Gamification.Student.UI.Models
@using Gamification.Student.UI.Services.Helpers
@inject TelegramUserHelper UserService

<PageTitle>Home</PageTitle>

  <div>
    <!-- Welcome -->
    <div class="welcome-section">
        <div class="welcome-text">
            Xush kelibsiz, 
            @if(user is not null)
            {
                <strong>@user.First_name</strong>
            }
            else{
                <strong>Foydalanuvchi</strong>
            }
        </div>
        <div class="welcome-avatar">
            <img src="./images/boy.svg" alt="Avatar" />
        </div>
    </div>

    <!-- Coins -->
    <div class="coin-section">        
      <img src="./images/hero.png" class="hero" alt="hero">
      <button class="coin-button">
            <span class="coin-button-text">
                COINS YIG‘ISH <img src="./images/coin.svg" alt="coin">
            </span>
        </button>
    </div>

    <!-- Reyting -->
    <div class="reyting">
        <h2 class="title">REYTING 
            <span  class="star-icon">
                <img src="./images/star.svg" alt="star">
            </span>
        </h2>

        <div class="tab-buttons">
            <button>so‘nggi XAFTA</button>
            <button class="active">BUGUN</button>
            <button>so‘nggi OY</button>
        </div>

        <div class="podium">
            <div class="place second">
            <img src="./images/girl.svg" alt="2-o‘rin">
            <p>2-o‘rin</p>
            </div>
            <div class="place first">
            <img src="./images/boy.svg" alt="1-o‘rin">
            <p>1-o‘rin</p>
            </div>
            <div class="place third">
            <img src="./images/boy2.svg" alt="3-o‘rin">
            <p>3-o‘rin</p>
            </div>
        </div>

        <ul class="ranking-list">
            <li>
                <span class="pos">4</span>
                <img src="./images/boy.svg" alt="">
                <span class="name">Abdujalil</span>
                <span class="coin">50</span>
                <img src="./images/smallcoin.svg">
            </li>
            <li>
                <span class="pos">5</span>
                <img src="./images/boy2.svg" alt="">
                <span class="name">Sardor</span>
                <span class="coin">48</span>
                <img src="./images/smallcoin.svg">
            </li>
            <li>
                <span class="pos">6</span>
                <img src="./images/girl.svg" alt="">
                <span class="name">Humoyun</span>
                <span class="coin">45</span>
                <img src="./images/smallcoin.svg">
            </li>
            <li>
                <span class="pos">7</span>
                <img src="./images/boy.svg" alt="">
                <span class="name">Doston</span>
                <span class="coin">42</span>
                <img src="./images/smallcoin.svg">
            </li>
        </ul>
    </div>
  </div>

<NavMenu />

@code{
    private TelegramUser? user;
    private bool isInitialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            user = await UserService.GetUserAsync();
            isInitialized = true;
            StateHasChanged();
        }
    }
}