@page "/profile"

<!-- Gift Section (Coming Soon) -->
<div class="gift-section">
    <div class="gift-content">
        <img src="./images/boy.svg" alt="Profile Picture" class="profile-pic" />
        <h2>Abdujamil</h2>
    </div>
</div>

<div>
    <p>
        Hisobingizda
    </p>
    <h3>108 <img src="./images/coin.svg" alt="Coin" class="coin-icon" /></h3>
</div>

<!-- Test Bo'limlari -->
<div class="page" id="sections">
    <h2>Sizning kurslaringiz</h2>
    <div class="card">
        <div>
            <strong>Matematika</strong>
            <p>Qobulov Abdujalil</p>
        </div>
        <span>30 ta test</span>
    </div>
    <div class="card">
        <div>
            <strong>Ingliz tili</strong>
            <p>Isoqjonov Humoyun</p>
        </div>
        <span>25 ta test</span>
    </div>
    <div class="card">
        <div>
            <strong>Dasturlashda</strong>
            <p>Sardor Sohinazarov</p>
        </div>
        <span>25 ta test</span>
    </div>
</div>

<NavMenu />