@using DataTransferObjects.Questions
<div class="page" id="question">
    <h2>@question.Text</h2>

    @foreach (var answer in question.Answers)
    {
        <button class="option @(selectedAnswerId == answer.Id ? "selected" : "")"
                @onclick="() => Select(answer.Id)">
            @answer.Text
        </button>
    }
</div>

@code {
    [Parameter] public QuestionViewModel question { get; set; }
    [Parameter] public EventCallback<int> OnOptionSelected { get; set; }
    [Parameter] public int selectedAnswerId { get; set; }

    private void Select(int id)
    {
        OnOptionSelected.InvokeAsync(id);
    }
}
