.option {
    background-color: #a5ddff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    color: #000;
    border: none;
}

    .option.selected {
        background-color: green !important;
        color: white;
    }
