<div class="page" id="question">
    <h2> @question.Text</h2>

    @foreach (var answer in question.Answers)
    {
        <button class="option" @onclick="() => Select(answer.Id)">
            @answer.Text
        </button>
    }
</div>

@code {
    [Parameter] public Domain.Entities.Question question { get; set; }
    [Parameter] public EventCallback<int> OnOptionSelected { get; set; }
    private int answerId;
    private void Select(int id)
    {
        answerId = id;
        // Logic to handle the selected option
    }
    private void NextQuestion()
    {
        // Logic to navigate to the next question
    }
    private void Restart()
    {
        // Logic to restart the quiz
    }
}