body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #e0f7ff;
    color: #333;
    padding-bottom: 80px;
}

.page {
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.option {
    background-color: #a5ddff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    color: #000;
    border: none;
}

    .option.selected {
        background-color: green !important;
        color: white;
    }

.start-btn {
    display: block;
    margin: 30px auto;
    padding: 15px 40px;
    background: linear-gradient(to right, #4760FF, #0DCCFF);
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.variants {
    display: flex;
    gap: 10px;
    flex-direction:  column;
}