@page "/quiz"

<PageTitle>Quiz</PageTitle>

<h3>Testni Yeching</h3>

@if (!isFinished)
{
    <Question question="@CurrentQuestion" OnOptionSelected="OnOptionSelected" />
}
else
{
    <h4>Natija: @CorrectCount / @Questions.Count</h4>
}

<div class="nav-arrows">
    <span> <img src="./images/left-arrow.svg"> </span>
    <span> <img src="./images/right-arrow.svg"> </span>
</div>
<button class="start-btn"> Testni yakunlash</button>

@code {
    private List<Domain.Entities.Question> Questions;
    private Domain.Entities.Question CurrentQuestion;

    private int currentIndex = 0;
    private bool isFinished = false;
    private int CorrectCount => 1;

    protected override void OnInitialized()
    {
        Questions = new List<Domain.Entities.Question>
        {
            new Domain.Entities.Question
            {
                Id = 1,
                Text = "Blazor nima?",
                Answers = new List<Domain.Entities.Answer>
                {
                    new Domain.Entities.Answer { Id = 1, Text = "Microsoft tomonidan ishlab chiqilgan veb-ramka", IsCorrect = true },
                    new Domain.Entities.Answer { Id = 2, Text = "JavaScript kutubxonasi", IsCorrect = false },
                    new Domain.Entities.Answer { Id = 3, Text = "Python dasturlash tili", IsCorrect = false },
                    new Domain.Entities.Answer { Id = 4, Text = "Mobil ilovalar uchun platforma", IsCorrect = false }
                },
            },
            new Domain.Entities.Question
            {
                Id = 2,
                Text = "C# qaysi kompaniyaga tegishli?",
                Answers = new List<Domain.Entities.Answer>
                {
                    new Domain.Entities.Answer { Id = 1, Text = "Microsoft", IsCorrect = true },
                    new Domain.Entities.Answer { Id = 2, Text = "Google", IsCorrect = false },
                    new Domain.Entities.Answer { Id = 3, Text = "Apple", IsCorrect = false },
                    new Domain.Entities.Answer { Id = 4, Text = "Facebook", IsCorrect = false }
                },
            }
        };

        CurrentQuestion = Questions[currentIndex];
    }

    private void OnOptionSelected(int index)
    {
        // hamma javoblarni yig'ib turamiz
        // avtomatik saqlanmoqda SelectedIndex
    }

    private void NextQuestion()
    {
        if (currentIndex + 1 < Questions.Count)
        {
            currentIndex++;
        }
        else
        {
            isFinished = true;
        }
    }
}
