@page "/quiz"

<h2>Nima uchun siz A javobni tanlayapsiz?</h2>

<div class="answers">
    <div class="answer">A) bilmadim endi</div>
    <div class="answer">B) o‘rtog’im biladi</div>
    <div class="answer">C) endi o‘ylab ko‘ramiz</div>
    <div class="answer">D) A javob to‘g‘ri edi</div>
</div>

<div class="nav-arrows">
    <span>&larr;</span>
    <span>&rarr;</span>
</div>