@page "/test"

@page "/bo-lim"

<h3 class="title">Quyidagi bo‘limlardan birini tanlang:</h3>

<div class="section-list">
    @foreach (var section in Sections)
    {
        <div class="card">
            <strong>@section.Title</strong>
            <span>@section.Count ta test</span>
            <p>@section.Description</p>
        </div>
    }
</div>

<NavMenu />
@code {
    public class SectionItem
    {
        public string Title { get; set; }
        public string Description { get; set; }
        public int Count { get; set; }
    }

    List<SectionItem> Sections = new()
    {
        new() { Title = "Present perfect", Description = "present perfect bo‘yicha takrorlash", Count = 30 },
        new() { Title = "To be", Description = "to be bo‘yicha takrorlash", Count = 25 },
        new() { Title = "Present continous", Description = "present perfect bo‘yicha takrorlash", Count = 20 },
        new() { Title = "Present perfect", Description = "present perfect bo‘yicha takrorlash", Count = 25 },
        new() { Title = "To be (takrorlash)", Description = "to be chuqurlashgan takrorlash", Count = 30 },
        new() { Title = "Past perfect", Description = "past perfect bo‘yicha takrorlash", Count = 30 }
    };
}
