@page "/test"

<h2>Quyidagi bo‘limlardan birini tanlang:</h2>

<div class="section">
    <div class="card"><strong>Present perfect</strong><span>30 ta test</span><p>present perfect bo‘yicha takrorlash</p></div>
    <div class="card"><strong>To be</strong><span>25 ta test</span><p>to be bo‘yicha takrorlash</p></div>
    <div class="card"><strong>Present continous</strong><span>20 ta test</span><p>present perfect bo‘yicha takrorlash</p></div>
    <div class="card"><strong>Present perfect</strong><span>25 ta test</span><p>present perfect bo‘yicha takrorlash</p></div>
    <div class="card"><strong>To be (takrorlash)</strong><span>30 ta test</span><p>to be chuqurlashgan takrorlash</p></div>
    <div class="card"><strong>Past perfect</strong><span>30 ta test</span><p>past perfect bo‘yicha takrorlash</p></div>
</div>

<div class="navbar">
    <div>🏠<br>Asosiy</div>
    <div>📖<br>Learning</div>
    <div>🎁<br>Sovg'alar</div>
    <div>👤<br>Profile</div>
</div>
