@page "/quiz/1"
<!-- Test Savollar -->
<div class="page" id="question">
    <h2> Nima uchun siz A javobni tanlaysiz?</h2>
    <div class="option"> A) bilmadim endi</div>
    <div class="option"> B) o’rtoğim biladi</div>
    <div class="option"> C) endi o’ylab ko’ramiz</div>
    <div class="option"> D) A javob to’g’ri edi</div>
    <div class="nav-arrows">
        <span> <img src="./images/left-arrow.svg"> </span>
        <span> <img src="./images/right-arrow.svg"> </span>
    </div>
</div>

<button class="start-btn"> Testni yakunlash</button>