<!-- Shared/BottomNav.razor -->
<div class="bottom-nav">
    <div><span class="icon">🏠</span><br />Asosiy</div>
    <div><span class="icon">📖</span><br />Learning</div>
    <div><span class="icon">🎁</span><br />Sovg'alar</div>
    <div><span class="icon">👤</span><br />Profile</div>
</div>
