<div class="bottom-nav">
    <a class="nav-item active" href="index.html">
        <img src="/images/home-icon.svg" alt="">
        <span>Asosiy</span>
    </a>
    <a class="nav-item" href="quiz.html">
        <img src="/images/book-icon.svg" alt="">
        <span>Learning</span>
    </a>
    <a class="nav-item" href="gifts.html">
        <img src="/images/gift-icon.svg" alt="">
        <span>Sovg‘alar</span>
    </a>
    <a class="nav-item" href="profile.html">
        <img src="/images/profile-icon.svg" alt="">
        <span>Profile</span>
    </a>
</div>